<%= content_tag :tr, id: dom_id(crypto_coin) do %>
    <td>
      <%= crypto_coin.name %>
    </td>
    <td>
      <%= crypto_coin.single_cost %>
    </td>
    <td>
      <%= crypto_coin.multisig_cost %>
    </td>
<% end %>