<%= content_tag :tr, id: dom_id(crypto_coin) do %>
    <td>
      <%= crypto_coin.name %>
    </td>
    <td>
      $ <%= crypto_coin.single_cost.round(6) %>
    </td>
    <td>
      <% if crypto_coin.multisig_cost == 0.0 %>
        N/A
      <% else %>
        $ <%= crypto_coin.multisig_cost.round(6) %>
      <% end %>
    </td>
<% end %>